<!--
  This file is responsible for rendering a single blog post.
-->

{{ template "chrome/header.html" . }}

<body class="theme-base-08">
  {{ template "chrome/sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/posts" title="Blog">Blog Posts</a>
        </h3>
      </div>
    </div>

    <!--
      This is where the actual post is displayed.

      We first access the title metadata field from the markdown source and
      display it as a heading.

      We then access the date the post was written (also in the markdown
      metadata) and display a formated version of it

      Finally we include the actual content of the post.
    -->
    <div class="container content">
      <h1 class="post-title">{{ .Title }}</h1>
        <section id="main">
          <h5 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h5>
          {{ .Content }}
        </section>
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {{ template "chrome/prev_next.html" . }}
  <br />
  {{ template "chrome/categories.html" . }}


  <!-- Include footer (ends <body class="theme-base-08"> and <html>) -->
  {{ template "chrome/footer.html" }}

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'hemantasapkota'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
